.app {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.app__qr-code-box {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 5vh;
  font-size: xx-large;
  position: absolute;
  text-align: center;
  width: 100%;
}

.app__qr-code {
  color: #eee;
}

.app__qr-code-body {
  padding: 2vh;
}

.app__qr-code--link {
  color: #eee;
  text-decoration: none;
}

.app__qr-code--link:hover {
  text-decoration: underline;
}

.app__camera-blur {
  filter: blur(1vw);
}

.app__qr-code-snapshot {
  height: 100vh;
  left: 0;
  object-fit: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100vw;
}

.app__qr-code-close-button {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: White;
  cursor: pointer;
  font-size: 5rem;
  height: 10vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 10vh;
}

.app__qr-code-close-button:hover {
  color: #666;
}
